$font-family-first: "PT Mono", "Courier New", monospace;
$font-family-second: "Roboto Condensed", "Arial", sans-serif;
$font-family-third: "Roboto", "Arial", sans-serif;

$white: #ffffff;
$black: #000000;
$blue: #00b2ff;
$dark: #1b2d37;
$dark-gray: #666666;
$special-gray: #626962;
$decoration-gray: #ebebeb;
$light-gray: #cdcdcd;
$rare-gray: #fafafa;
$logo-gray: #788891;
$logo-dark: #203c42;

$tablet-width-max: 1023px;
$mobile-width-max: 767px;
