.accordion {
  &--no-js {
    .accordion__toggle {
      display: none;
    }

    .accordion__inner {
      display: block;
    }
  }

  &--opened {
    .accordion__toggle::before {
      display: none;
    }

    .accordion__inner {
      display: block;
    }
  }
}
