.accordeon {
  &--no-js {
    .accordeon__toggle {
      display: none;
    }

    .accordeon__inner {
      display: block;
    }
  }

  &--opened {
    .accordeon__toggle::before {
      display: none;
    }

    .accordeon__inner {
      display: block;
    }
  }
}
