.button {
  box-sizing: border-box;
  padding: 15px 12px 12px;
  background-color: transparent;
  border: 1px solid $white;
  border-radius: 5px;
  color: $white;
  font-family: $font-family-second;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;

  &:hover,
  &:focus {
    border-color: $blue;
    color: $blue;
  }
}
