.header {
  display: flex;
  align-items: center;
  padding-top: 33px;
  background-color: $dark;
  color: $white;

  @media (max-width: $tablet-width-max) {
    padding-top: 20px;
  }
}

.header__logo {
  @media (max-width: $mobile-width-max) {
    svg {
      width: 38px;
      height: 38px;
    }

    p {
      display: none;
    }
  }
}

.header__contacts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
}

.header__contact {
  margin-left: 6.35vw;

  @media (max-width: $tablet-width-max) {
    margin-left: 4.3vw;
  }
}

.header__contact-link {
  display: flex;
  align-items: center;
  line-height: 17.92px;

  &:hover,
  &:focus {
    color: $blue;

    svg {
      fill: $white;
    }
  }

  svg {
    margin-right: 20px;
  }

  @media (max-width: $tablet-width-max) {
    font-size: 0;

    &--mail {
      svg {
        width: 25px;
        height: 18px;
      }
    }

    &--phone {
      svg {
        width: 24px;
        height: 24px;
      }
    }

    svg {
      margin-right: 0;
    }
  }
}

.header__callback {
  margin-left: 1.98vw;
  min-width: 180px;

  @media (max-width: $tablet-width-max) {
    display: none;
  }
}
