.header {
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 33px;
  color: $white;
  overflow-x: visible;

  @media (max-width: $tablet-width-max) {
    padding-top: 20px;
  }

  @media (max-width: $mobile-width-max) {
    padding-top: 17px;
  }
}

.header__logo {
  margin-right: 20px;
}

.header__logo-desktop {
  @media (max-width: $mobile-width-max) {
    display: none;
  }
}

.header__logo-mobile {
  display: none;

  @media (max-width: $mobile-width-max) {
    display: block;
  }
}

.header__contacts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
  margin-right: -4.58vw;
  max-width: 61.65%;
  margin-bottom: -10px;

  @media (max-width: $tablet-width-max) {
    margin-right: 0;
    margin-left: -4.3vw;
  }

  @media (max-width: $mobile-width-max) {
    margin-left: -7.3vw;
  }
}

.header__contact {
  margin-right: 4.58vw;
  margin-bottom: 10px;

  svg {
    margin-right: 20px;
  }

  &--phone {
    svg {
      margin-right: 16px;
    }
  }

  @media (max-width: $tablet-width-max) {
    font-size: 0;
    margin-right: 0;
    margin-left: 4.3vw;

    &--mail {
      svg {
        width: 25px;
        height: 18px;
      }
    }

    &--phone {
      svg {
        width: 24px;
        height: 24px;
      }
    }

    svg {
      margin-right: 0;
    }
  }

  @media (max-width: $mobile-width-max) {
    margin-left: 7.3vw;
  }
}

.header__contact-link {
  display: flex;
  align-items: center;
  line-height: 17.92px;

  &:hover,
  &:focus {
    svg {
      fill: $white;
    }
  }
}

.header__callback {
  margin-left: 2.55vw;
  min-width: 180px;

  @media (max-width: $tablet-width-max) {
    display: none;
  }
}
