.header {
  display: flex;
  align-items: center;
  padding-top: 33px;
  background-color: $dark;
  color: $white;

  @media (max-width: $tablet-width-max) {
    padding-top: 20px;
  }
}

.header__logo {
  margin-right: 30px;
}

.header__logo-desktop {
  @media (max-width: $mobile-width-max) {
    display: none;
  }
}

.header__logo-mobile {
  display: none;

  @media (max-width: $mobile-width-max) {
    display: block;
  }
}

.header__contacts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
}

.header__contact {
  margin-left: 6.35vw;

  a {
    display: flex;
    align-items: center;
    line-height: 17.92px;

    &:hover,
    &:focus {
      svg {
        fill: $white;
      }
    }
  }

  svg {
    margin-right: 20px;
  }

  @media (max-width: $tablet-width-max) {
    font-size: 0;
    margin-left: 4.3vw;

    &--mail {
      svg {
        width: 25px;
        height: 18px;
      }
    }

    &--phone {
      svg {
        width: 24px;
        height: 24px;
      }
    }

    svg {
      margin-right: 0;
    }
  }
}

.header__callback {
  margin-left: 1.98vw;
  min-width: 180px;

  @media (max-width: $tablet-width-max) {
    display: none;
  }
}
