.section {
  h1,
  h2,
  h3 {
    margin: 0;
    font-family: $font-family-second;
    font-weight: 400;
  }

  h2 {
    font-size: 36px;
    line-height: 50.63px;
  }

  @media (max-width: $tablet-width-max) {
    h2 {
      font-size: 32px;
      line-height: 45px;
    }
  }

  @media (max-width: $mobile-width-max) {
    h2 {
      font-size: 28px;
      line-height: 39.38px;
    }
  }
}
